
grpcio
grpcio-tools
onnx>=1.15.0
onnxruntime-gpu>=1.17.1
pandas

# This needs to be from Torch's pypi repo.
# ONNX does not support cuda 12 yet.
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio

# This needs to be a more recent version.
git+https://github.com/huggingface/transformers