onnx>=1.19.1
onnxruntime-gpu>=1.23.2
pandas
bottleneck>=1.3.6
accelerate>=0.26.0
einops
timm
pyvips
kornia
pillow
transformers==4.57.3
bitsandbytes
hf_xet
dataclasses_json
flask
flask-restful
compressed-tensors
qwen-vl-utils
qwen-vl-utils[decord]
keye-vl-utils
opencv-python
# This needs to be from Torch's pypi repo.
# ONNX does not support cuda 12 yet.
--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio
